:root {
    --main: #006664;
    --main-dark: #004746;

    --gray: #b4b4b4;
    --gray-dark: #999999;
    --gray-light: #f5f5f5;

    --white: #ffffff;
    --white-dark: #d6d6d6;

    --black: #000000;
    --black-op: #00000050;
}